.content-blocks {
  display: flex;
  flex-direction: column;

  background: var(--color-background);
  color: var(--color-dark);

  border: 1px solid var(--color-dark);
  border-radius: 8px;

  overflow: hidden;

  .content-blocks-title {
    padding: 6px 10px;

    color: white;
    background: var(--color-dark);

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    cursor: pointer;
  }

  .content-blocks-body {
    height: 100%;
    padding: 12px;


    p {
      width: 100%;
      word-wrap: break-word;
      font-size: 30px;

      span.active {       
        color: red

      }
    }
  }

  .is-hide {
    display: none;
  }


}